.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
} 
.THIS .size-fixed {
    height:25rem;
    max-width: 17rem;
}
.THIS .slds-notify_toast {
    display: -webkit-box;
}